{# development_badge/templates/development-badge.html.twig #}

{{ attach_library('development_badge/development-badge') }}

<div class="development-badge {{ website_mode }}">
	{{ development_badge_array.title }}
</div>
